* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: #61dafb;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-content: center;
}
p {
  font-size: 18px;
}
p b {
  background-color: #61dafb;
  color: #222;
  padding: 8px;
  border-radius: 12px;
  margin: 4px;
}
h1 {
  border: 2px solid #61dafb;
  border-radius: 16px;
  padding: 16px;
}
.react-logo {
  margin: 64px;
  animation: spin 8s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}